{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Binay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'indexx/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/css/style.css' %}">
    
  </head>
  <body>
  

  <div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-block align-items-center">
    <div class="site-logo">
      <a href="index.html">Binay</a>
    </div>
    
    <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

    <div class="main-menu">
      <ul class="js-clone-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="bio.html">Bio</a></li>
        <li class="active"><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="social js-clone-nav">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-instagram"></span></a></li>
      </ul>
    </div>
  </header> 
  <main class="main-content">
    <div class="container-fluid photos">
      <div class="row justify-content-center">
        
        <div class="col-md-8 pt-4">
          
          <div class="row mb-5" data-aos="fade-up">
            <div class="col-12">
              <h2 class="text-white mb-4 text-center">My Blogs</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" data-aos="fade-up">
              <div class="d-flex blog-entry align-items-start">
                <div class="mr-5 img-wrap"><a href="#"><img src="{% static 'indexx/images/bbinayy9.jpg' %}" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="#">BINAY</a></h2>
                  <div class="meta mb-3">Posted by Binay on <a href="#">Jun. 22, 2020</a></div>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-md-12" data-aos="fade-up">
              <div class="d-flex blog-entry align-items-start">
                <div class="mr-5 img-wrap"><a href="#"><img src="{% static 'indexx/images/bbinayy8.jpg' %}" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="#">Binay Kumar</a></h2>
                  <div class="meta mb-3">Posted by Binay on <a href="#">June. 22, 2020</a></div>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-md-12" data-aos="fade-up">
              <div class="d-flex blog-entry align-items-start">
                <div class="mr-5 img-wrap"><a href="#"><img src="{% static 'indexx/images/binayy4.jpg' %}" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="#">Binay Kumar Pradhan</a></h2>
                  <div class="meta mb-3">Posted by Binay on <a href="#">June. 22, 2020</a></div>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-md-12" data-aos="fade-up">
              <div class="d-flex blog-entry align-items-start">
                <div class="mr-5 img-wrap"><a href="#"><img src="{% static 'indexx/images/binayy18.jpg' %}" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="#">Rose</a></h2>
                  <div class="meta mb-3">Posted by Binay on <a href="#">June. 22, 2020</a></div>
                  <p>Sine Of Smile</p>
                </div>
              </div>
            </div>  

            <div class="col-12 text-center">
              <div class="custom-pagination">
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">7</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>

      </p>
        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->

  <script src="{% static 'indexx/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'indexx/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'indexx/js/jquery-ui.js' %}"></script>
  <script src="{% static 'indexx/js/popper.min.js' %}"></script>
  <script src="{% static 'indexx/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'indexx/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'indexx/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'indexx/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'indexx/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'indexx/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'indexx/js/aos.js' %}"></script>

  <script src="{% static 'indexx/js/jquery.fancybox.min.js' %}"></script>

  <script src="{% static 'indexx/js/main.js' %}"></script>
    
  </body>
</html>